<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="lg.win.ruler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="lgRuler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <lg.win.ruler.Properties.Settings>
            <setting name="RulerForeColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="RulerBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="RulerMajorTickColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="RulerMinorTickColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="RulerLabelColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="RulerBackAlpha" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="RulerMajorTickInterval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RulerMinorTickInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RulerMajorTickSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RulerMinorTickSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RulerLabelFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="RulerLabelPadding" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RulerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="RulerShowInTaskBar" serializeAs="String">
                <value>False</value>
            </setting>
        </lg.win.ruler.Properties.Settings>
        <lgRuler.Properties.Settings>
            <setting name="RulerFrontColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="RulerBackColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="RulerMajorTickColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="RulerMinorTickColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="RulerLabelColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="RulerTransp" serializeAs="String">
                <value/>
            </setting>
        </lgRuler.Properties.Settings>
    </userSettings>
</configuration>
